# Ignorar enlaces simbólicos específicos
00_Data
02_Op
infomap-ubuntu

/00_Data.lnk
/02_Op.lnk

# Ignorar todos los archivos .lnk (si corresponde)
*.lnk

# Excluir el archivo de configuración YAML
config.yml
.Rproj.user
